<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>colorcalc2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8FED6C91E20FE87008A4077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8FED6DD1E20FE88008A4077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8FED6E81E20FE88008A4077</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
